.bordgame-image {
    padding:10px;
}

#bordgame-images {
    text-align:center;
}

#company-info {
    font-size:15px;
    text-align:center;
}

table {
    margin-left: auto;
    margin-right: auto;
}